.sidebar {
  margin-top: 24px;
  font-family: plus-jakarta;
}

.options {
  display: grid;
  grid-template: repeat(2, 1fr) / auto;
  grid-auto-flow: column;
}

.label {
  font-size: 0.85rem;
  font-weight: 200;
}

.label:hover {
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .sidebar {
    margin-top: -8px;
    min-width: 180px;
    border-right: 1px solid #c7cbca;
  }

  .sidebar, .fieldset {
    height: 76vh;
  }

  .fieldset {
    border: none;
  }

  .options {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}